<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Episode_Names.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Episode_Names.Properties.Settings>
            <setting name="formatString" serializeAs="String">
                <value>%n - %pos</value>
            </setting>
            <setting name="startNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="position" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="splitString" serializeAs="String">
                <value>\t</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrowseLocation" serializeAs="String">
                <value>C:</value>
            </setting>
            <setting name="OnlyNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Foreground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SR_Search" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_Replace" serializeAs="String">
                <value />
            </setting>
            <setting name="Changelog" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedWebsite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateDialogShowed" serializeAs="String">
                <value>False</value>
            </setting>
        </Episode_Names.Properties.Settings>
    </userSettings>
</configuration>
